<mat-card class="card">

    <div class="header-logo">
        <img src="../../assets/orange.jpg" alt="logo" />
        <h2>eMailKonnect
            <div class="actions" fxLayout="row" fxLayoutAlign="end center">
                <button mat-button>Welcome</button>
                <button mat-button>FTID/Name</button>
                <button mat-button>Logout</button>
            </div>
        </h2>
    </div>
</mat-card>
<mat-card class="sidebar"  >
    <div class="bts" fxLayout="column" fxLayoutAlign=" start ">
        <button mat-button>Admin</button>
        <button mat-button>Reports</button>
        <button mat-button>Record Update</button>
        <button mat-button>Page 2</button>
        <button mat-button>Page 3</button>
    </div>

</mat-card>